trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
    
steps:
- task: UseDotNet@2
  displayName: 'Install .NET SDK 10.0'
  inputs:
    version: 10.0.x

- task: UseDotNet@2
  displayName: 'Install .NET SDK 8.0'
  inputs:
    version: 8.0.x

- task: UseDotNet@2
  displayName: 'Install .NET SDK 6.0'
  inputs:
    version: 6.0.x

- task: DotNetCoreCLI@2
  displayName: 'Build $(buildConfiguration)'
  inputs:
    command: build
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Unit Test'
  inputs:
    command: test
    projects: 'UnitTest/UnitTest.csproj'
    arguments: '--configuration $(buildConfiguration) /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput=./TestResults/'
    publishTestResults: true

- task: PublishCodeCoverageResults@1
  displayName: 'Publish Code Coverage Result'
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(Build.SourcesDirectory)/**/TestResults/coverage.net8.0.cobertura.xml'
