body {
    color: #DDD;
    font-family: 'Segoe UI', 'Microsoft Yahei', 'Microsoft JhengHei', Tahoma, "Helvetica Neue", Arial, Geneva, Verdana, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    background-color: #222;
    padding: 0;
    margin: 0;
}
a, a:visited {
    color: #6DF;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #9EF;
    text-decoration: underline;
}
a:active {
    color: #8CE;
    text-decoration: underline;
}
code, code a, code span {
    font-family: "Cascadia Code", "Consolas", "Segoe UI", "Microsoft Yahei", "Microsoft JhengHei", "Tahoma", "Helvetica Neue", "Arial", "Geneva", "Verdana", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
body > header > section, body > footer > section {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
}
body > section > section a, body > section > section a:visited {
    transition: 0.4s;
}
body > section > section a:active, body > section > section a:hover {
    transition: 0.1s;
}
body > section, body > header, body > footer {
    padding: 0 20px;
}

/* Header */
body > header:first-child {
    height: 60px;
    background-color: #333;
    background-image: url(../images/bg/title.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    white-space: nowrap;
}
body > header:first-child > section:first-child {
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 auto;
}
body > header:first-child > section:first-child > h1 {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    width: 120px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 80px 0 0;
    display: inline-block;
    vertical-align: top;
    user-select: none;
}
body > header:first-child > section:first-child > h1 > a:first-child > strong:first-child + span,
body > header:first-child > section:first-child > h1 > strong:first-child + span {
    font-weight: lighter;
}
body > header:first-child > section:first-child > h1 + ul {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    max-width: 560px;
    padding: 4px 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}
body > header:first-child > section:first-child > h1 + ul > li {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    height: 52px;
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
body > header:first-child > section:first-child a,
body > header:first-child > section:first-child a:visited,
body > header:first-child > section:first-child > h1 > strong,
body > header:first-child > section:first-child > h1 > span {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: 0.6s;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 2px;
}
body > header:first-child > section:first-child > h1 + ul > li > a,
body > header:first-child > section:first-child > h1 + ul > li > a:visited {
    line-height: 52px;
    padding: 0 16px;
    margin: 0;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
}
body > header:first-child > section:first-child > h1 + ul > li.state-sel > a,
body > header:first-child > section:first-child > h1 + ul > li.state-sel > a:visited {
    color: #EEE;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: rgba(192, 240, 255, 0.6) 0 0 10px;
}
body > header:first-child > section:first-child a:hover {
    color: rgba(64, 192, 255, 1);
    text-decoration: underline;
    transition: 0.1s;
}
body > header:first-child > section:first-child a:active {
    color: rgba(64, 192, 255, 0.7);
    text-decoration: none;
    transition: 0.1s;
}
body > header:first-child + header {
    height: 80px;
}
@media screen and (max-width:800px) {
    body > header:first-child {
        height: 112px;
        padding: 0;
    }
    body > header:first-child > section:first-child > h1 {
        padding: 0 20px;
        display: block;
    }
    body > header:first-child > section:first-child > h1 + ul {
        height: 52px;
        max-width: none;
        padding: 0 10px;
        display: block;
        overflow-x: overlay;
    }
    body > header:first-child > section:first-child > h1 + ul > li > a,
    body > header:first-child > section:first-child > h1 + ul > li > a:visited {
        padding: 0 10px;
    }
}

/* Footer */
body > section + footer,
body > main + footer,
body > script + footer {
    height: 340px;
    margin: 0;
    background-color: #333;
    background-image: url(../images/bg/bottom.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
body > main + footer {
    margin-top: 80px;
}
body > footer > section > div.x-copyright {
    width: 275px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 0;
    user-select: none;
}
body > footer > section > div.x-copyright > img:first-child {
    background-color: #CCC;
    width: 275px;
    height: 40px;
    padding: 4px 0;
    border-radius: 4px;
    display: block;
}
body > footer > section > div.x-copyright > img:first-child + span {
    line-height: 22px;
    text-align: center;
    height: 22px;
    padding-right: 1px;
    display: block;
    cursor: default;
}

/* Body */
body > section > section,
body > section > h1,
body > section > h2,
body > section > h3,
body > main {
    font-weight: normal;
    max-width: 1000px;
    padding: 0;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;
}
body > section > h1, body > section > section > h1 {
    font-size: 24px;
    line-height: 32px;
}
body > section > h2, body > section > section > h2 {
    font-size: 20px;
    line-height: 28px;
}
body > section > h3, body > section > section > h3 {
    font-size: 18px;
    line-height: 24px;
}
body > section > h3 {
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    line-height: 30px;
    margin: 0;
    cursor: default;
}
body > section > h3 > svg, body > section > h3 > span, body > section > h3 > a {
    vertical-align: middle;
}
body > section > ul, body > section > ul > li {
    background-color: transparent;
}

/* Links */
a.link-tile-wide, a.link-tile-wide:visited {
    color: #CCC;
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    width: 190px;
    background-color: #282828;
    padding: 24px;
    margin: 0 4px 4px 0;
    border: 1px solid #333;
    border-radius: 4px;
    display: inline-block;
}
a.link-tile-wide.grouping-more, a.link-tile-wide.grouping-more:visited {
    width: 60px;
    text-align: center; 
}
a.link-tile-wide:hover {
    color: #EEE;
    text-decoration: none;
    background-color: #333;
    border-color: #555;
    box-shadow: #111 1px 1px 4px;
}
a.link-tile-wide:active {
    color: #9EF;
    background-color: #282828;
    text-decoration: none;
    border-color: #444;
    box-shadow: #111 0 0 4px;
}
a.link-tile-wide > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-tile-wide > svg, a.link-tile-wide:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-tile-wide:hover > svg {
    fill: #EEE;
}
a.link-tile-wide:active > svg {
    fill: #9EF;
}
a.link-tile-wide > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button, a.link-long-button:visited {
    color: #CCC;
    font-size: 18px;
    text-decoration: none;
    line-height: 20px;
    background-color: #282828;
    padding: 24px;
    margin: 0 0 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    display: block;
}
a.link-line-button, a.link-line-button:visited {
    color: #CCC;
    font-size: 18px;
    text-decoration: none;
    line-height: 20px;
    background-color: #282828;
    padding: 12px 24px;
    margin: 0 0 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    display: block;
}
a.link-long-button:hover, a.link-line-button:hover {
    color: #EEE;
    text-decoration: none;
    background-color: #333;
    border-color: #555;
    box-shadow: #111 1px 1px 4px;
}
a.link-long-button:active, a.link-line-button:active {
    color: #9EF;
    background-color: #282828;
    text-decoration: none;
    border-color: #444;
    box-shadow: #111 0 0 4px;
}
a.link-long-button > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-line-button > img {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button > svg, a.link-long-button:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-line-button > svg, a.link-line-button:visited > svg {
    fill: #CCC;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button:hover > svg, a.link-line-button:hover > svg {
    fill: #EEE;
}
a.link-long-button:active > svg, a.link-line-button:active > svg {
    fill: #9EF;
}
a.link-long-button > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}
a.link-line-button > span {
    line-height: 20px;
}
a.link-long-button > span > span, a.link-tile-wide > span > span, a.link-line-button > span > span {
    color: #888;
    font-size: 16px;
    transition: 0.4s;
}
a.link-long-button:hover > span > span, a.link-tile-wide:hover > span > span, a.link-line-button:hover > span > span {
    color: #999;
}
@media screen and (max-width:800px) {
    a.link-tile-wide, a.link-tile-wide:visited {
        width: auto;
        margin: 0 0 4px 0;
        display: block;
    }
    a.link-tile-wide.grouping-more, a.link-tile-wide.grouping-more:visited {
        width: 80px;
        padding: 16px;
        text-align: center; 
    }
}
